.fix-header-tabbox{
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
    padding: 9.375px 6.25px;
    font-size: 20.8333px;
    z-index: 99;
    background: #f2f2f2;
    box-shadow: 0 5px 13px rgba(0,0,0,.12);
    -webkit-user-select: none;
    user-select: none;
    color: #000000;
    .box-border{
        font-size: 14.05px;
    font-weight: 700;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    border-radius: 2.4px;
    position: relative;
    .active{
        background: #bfbfbf;
        color: #fff !important;
    }
   .box-line{  border-radius:2.4px 0 0 2.4px;
        flex-basis: 25%;
    padding:5.5px 0;
    position: relative;
    color: #606060;
    border: 1px solid #d4d4d4;;
    }
    li:first-child{
        border-radius:2.4px 0 0 2.4px;
    }  li:last-child{
        border-radius:0 2.4px  2.4px 0;
    }
    }
    .box-border:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: -42.85714%;
        left: 0;
        right: -42.85714%;
        border: 1px solid #f0f0f0;
        -webkit-transform: scale(.7);
        transform: scale(.7);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}
#detail{
    .swiper-container {
    margin-top: 110px;
    position: relative;
    box-shadow: 0 5px 13px rgba(0,0,0,.1);
    margin-bottom: 6px;
    background: #fff;        height: 80vw !important;
    width: 100%;
    .swiper-wrapper{
        .swiper-slide{
            display: inline-block;
            list-style: none;
            font-size: 14px;
            // left: -100%;
            text-align: center;
        }
    }
}
}
