.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.home-list{
    position: relative;
    padding-top: 11.2px;
    margin-top: 11.2px;
    .headline-wrap{
        position: relative;
        padding: 0 0 11.2px 16px;
        cursor: pointer;
        h3{
            font-size: 12.8px;
            font-weight: 700;
            color: rgba(0,0,0,.8);
            font-size: 16.6667px;
        }
    }
    .guesslike-wrap{
        width: calc(100% - 19.2px);
    margin: 0 auto;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
    .guess-like-item{
        flex: 0 0 calc(50% - 6.4px);-webkit-box-flex: 0;
        margin-bottom: 12.8px;
        position: relative;
        width: 100%;
        background: #fff;
        border-radius: 6.4px;
        overflow: hidden;
        cursor: pointer;
        .item-cover{

            border-radius: 6.4px;
            overflow: hidden;
            position: relative;
            display: block;
            margin: 0 auto;
            border: 1px solid rgba(0,0,0,.05);
            background: rgba(0,0,0,.01);
            box-shadow: 0 0.32px 3.2px rgba(0,0,0,.06);
            img{
                mix-blend-mode: multiply;
                width: 100%;
                border: 0;
            }
        }
        .item-title{
            margin: 4.8px 0 1.6px;
            padding: 0 4.8px;
            h3{
                font-weight: 600;
                line-height: 14.4px;
                color: rgba(0,0,0,.7);
                width: 100%;
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

            }
        }
        .item-bottom-info{
            display: flex;
            justify-content: space-between;
            align-items: center;  
            flex-wrap: wrap;
            padding: 0 4.8px;
            .item-price{
                font-size: 14.5833px;
                font-family: Arial;
                font-weight: bolder;
                color: #d44d44;
                .yuan{
                    margin-right: 3px;
                    font-size: 8.8px;
                }
                .orignal{
                    position: relative;
                    margin-left: 5px;
                    font-size: 10.4167px;
                    color: #ccc;
                    font-weight: 400;
                    .yuan{
                        margin-right: 1px;
                        font-size: 8.8px;
                    }
                }
            }
            .item-promotion-tags{
                font-size: 10.4167px;
        font-weight: bolder;
        .tag{
            position: relative;
            display: inline-block;
            padding: 1.92px 6.4px 1.6px;
            border-radius: 9.6px;
            color: #d56159;
            background: #f6ebea;
            box-sizing: border-box;
        }
            }
            
        }
        }
    }
}