

    .main{
        box-shadow: 0px 1px 0px 1px rgba(102, 102, 102, 0.1);
        position: relative;
        top:0;
        left: 0;
        width: 100%;
        display: flex;
        // height: calc(100% - 50px);
        box-sizing: border-box;
        justify-content: space-between;
          .left-wrap{
            width:80px;
            box-shadow: 1px 0 0 hsla(0,0%,40%,.1);
            padding: 32px 4px 4px;
            box-sizing: border-box;
            z-index: 2;
           
                li{
                width: 100%;
                    a{
                        width: 100%;
                        font-size: 12.5px;
                        margin-bottom: 17.7083px;
                        font-weight: 700;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 24.64px;
                        padding:  3.33333px 8.33333px 2.91667px;
                    }
                .active{
                    color: #d44d44;
                background: #f6ebea;
                border-radius: 12px;
                    } 
                }
    
            } 
            .right-wrap{     
            overflow-x: hidden;
            overflow-y: auto;
            // height: 100%;
           width: calc(100% - 80px);
            .category-sub:nth-child(n+1){
                box-shadow: 0 1px hsla(0,0%,40%,.1);
            }
            .category-sub{
                width: 100%;
                height: 100%;
            }
            }

    }
  
