body, html {
    margin: 0;padding: 0;
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 14px;
    background: #fff;
    font-family: Helvetica Neue,Helvetica,Arial,SCREEN GP Sans SC,PingFang SC,Hiragino Sans GB,Microsoft Yahei,微软雅黑,STHeiti,华文细黑,sans-serif;
    -webkit-tap-highlight-color: transparent;
    overflow: scroll;
}
ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #9a9a9a;
}
i{
    color: #9a9a9a;
}
.App {
    
    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 56.25px;
    padding: 0 35.4167px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 -11px 32px rgba(0,0,0,.08);
        li{
            a{color: #9a9a9a;
            width: 25%;
            float: left;
           cursor: pointer;
           display: flex;
           flex-direction: column;
           align-items: center;
           height: 100%;
           justify-content: space-around;
           i{
            display: block;
            
            margin: 6.25px 24.55px 4.16667px 24.537px
        
           }
           span{
            font-size: 11.1667px
           }
        }
            
            .active{i{
                color: #d44d44; 
            }
            color: #d44d44;
            }
        }
    }
}